
<table>
  <tr>
    <td>User:</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>password:</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>address:</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>birthday:</td>
    <td>
      <clarity-date-picker [displayStrings]="initDate" (onDateChange)="getDate($event)"></clarity-date-picker>
    </td>
  </tr>
  <tr>
    <td>graduation date:</td>
    <td>
      <clarity-date-picker  [currentLanguage]="'en_US'" (onDateChange)="getDate($event)" [calendarWidth]="280"></clarity-date-picker>
    </td>
  </tr>
</table>

<div><button>submit</button></div>